<div class="pb-5 d-flex flex-column text-center">
    <h1 class="p-4 mt-3">about Us</h1>
    <div class="m-3">
        <div class="box d-flex p-3 mx-5 mt-3 align-items-center">
            <img id="logo" class="p-2" src="../../assets/images/iconKangaroo.png">
            <p>
                Rare Friends Incorporated Is A Fake Company Devoted For The Commerce Of The Finest Illegal Animals To
                People
                In Competitive Prices. all of our animals are examined and meticulously checked by fake veterinarian and
                psychologists, social workers.
            </p>
        </div>
        <div class="d-flex p-3 mx-5 my-3 align-items-center flex-column">
            <div class="box">
                <h2 class="p-3">quality control</h2>
                <p>
                    We believe in the classical Darwinist theory and in the survival of the fittest. Our costumers only
                    deserves
                    the
                    fittest. So to ensure that, all animals arriving in our pounds will be given “Krav Maga” lessons,
                    and
                    two
                    guns.
                    Only the last animal standing from each shipment will be converted into Judaism, circumcised and
                    then
                    sold.
                </p>
                <img class="pic" src="../../assets/images/rambopssum.png" alt="">
            </div>
            <div class="box">
                <h2 class="p-3">Philanthropic ventures</h2>
                <p>
                    Matthew 19:24 - <br>
                    "I repeat: it is much harder for a rich person to enter the Kingdom of God than for a camel to go
                    through
                    the eye of a needle."<br>
                    Therefor, all revenues will be donated to blind orphans, because fuck those bastards, they don’t
                    deserve heaven. bless!
                </p>
                <img class="pic" src="../../assets/images/angel.png" alt="">
            </div>
            <div class="box">
                <h3 class="p-4">if you have any questions please contact us here</h3>
                <button class="btn btn-outline-dark" (click)="toContact()">contact us</button>
            </div>
        </div>
    </div>
</div>