<div class="pb-5 d-flex flex-column justify-content-center text-center">
    <h1 class="pt-4 pb-4">homepage</h1>
    <main class="pb-3 d-flex flex-column">
        <div class="gap-4 d-grid d-inline-flex flex-column text-start">
            <div>
                <h3>hello</h3>
            </div>
            <app-home-gallery></app-home-gallery>
            <div>
                <h3>hello</h3>
            </div>
        </div>
        <div class="row d-flex box wrap">
            <span>
                <h2>allow us to make your dreams of owning a special pets a reality</h2>
                <mat-icon class="m-1">
                    sentiment_very_satisfied
                </mat-icon>
            </span>
            <span>
                <p id="about">
                    we sell mostly animal (with the execption of occational human) to our much appriciated clients.
                    don't be alarm by our track record or with the police van parked outside of our offices.
                    the only crime we comitted is being too appriciative to our costumer and pets*
                </p>
                <p id="threat"><b>Warning</b> - do not contact the police, we will hurt the animals</p>
                <div class="d-flex justify-content-evenly">
                    <div class="vidCrop d-flex align-items-center mx-5">
                        <video muted loop preload="auto" autoplay="true" class="img-card-top img-fluid rounded-circle"
                            id="heroVid" src="../../assets/images/fox.mp4" type="video/mp4"></video>
                    </div>
                    <div class="vidCrop d-flex align-items-center mx-5">
                        <video muted loop preload="auto" autoplay="true" class="img-card-top img-fluid rounded-circle"
                            id="heroVid" src="../../assets/images/fox.mp4" type="video/mp4"></video>
                    </div>
                </div>
                <div class="m-4 p-2">
                    <span (click)="toAbout()" class="px-2 pointer" id="contact">for more information about us click
                        here</span>
                </div>
                <img id="smile" class="img img-fluid align-items-center mx-5" src="../../assets/images/smile.png"
                    alt="">
                <p id="little">
                    *other crimes might have also took place. our appologies to people suffering from opi *other crimes
                    might have also took place. our apologies to people suffering from opioid
                    addiction, Asian Americans, passengers of the Hindenburg, the Kennedys, Canadian navy veterans
                    served between 1989-1993, the Wuhan lab, local farmer, the anti-defamation league, FIBA, mahatma
                    Gandhi peace centre, 9/11 first responders, apollo 13 mission crew, Rwanda's genocide victims,
                    the Nobel physics prize committee survivors, and perpetrators, various UN peacekeeping soldiers,
                    barny Madof the holocaust museum, the Ramon family, the gypsie community, the royal family, Malala
                    Yousafzai, Ukraine, any relatives of Ann frank, the Albanian people, Jet Lee, the WNBA and morgan
                    freeman
                </p>
            </span>
        </div>
    </main>
</div>